---
title: Topluluk Günlüğü
---

<h1>Topluluk Günlüğü</h1>

<ul>
  {% for post in site.posts %}
    <li>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        <p> {{ post.date | localize: '%d %b %Y' }}
        {% for author in site.authors %}
        - <a href="{{ author.url }}">{{ author.name }}</a>
        {% endfor %}</p>
        <p>{{ post.excerpt }}{% if post.excerpt != post.content %}
        <a href="{{ site.baseurl }}{{ post.url }}">...okumayı sürdür</a>
        {% endif %}</p>
    </li>
  {% endfor %}
</ul>

