---
layout: default
title: KDE Türkiye
---

<!doctype html>
<html lang="tr">

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ '/css/index.css' | relative_url }}">
    <title>{{ page.title }}</title>
  </head>

  <body>
    <img src="/assets/img/teaser.jpg" class="teaser" decoding="async">

    <main class="navfix container" aria-label="Content">
      <div>
      {% capture p1 %}{% include welcome.md %}{% endcapture %}
      {{ p1 | markdownify }}
      </div>
    </main>

    {{ content }}
  </body>

</html>
