---
layout: page
---

<h1>{{ page.title }}</h1>

<p>
  {{ page.date | localize: '%d %B %Y' }}
  {% assign author = site.authors | where: 'short_name', page.author | first %}
  {% if author %}
    - <a href="{{ author.url }}">{{ author.name }}</a>
  {% endif %}
</p>

{{ content }}

<p>
    {% for tag in page.tags %}
    {% if post.tags != empty %}
      <a class="post" href="/tag/{{tag}}">#{{tag}}</a>
      {% unless forloop.last %}, {% endunless %}
    {% endif %}
    {% endfor %}
 ile etiketlendi.
</p>
