---
layout: page
---

<!doctype html>
<html>
  <head>
    <title>Etiket: #{{page.tag}}</title>
  </head>
  <body>
    <h1>Etiket: #{{page.tag}}</h1>
    <ul>
      {% for post in site.posts %}
      {% if post.tags contains page.tag %}
      <li><a class="post" href="{{ post.url }}">{{ post.title }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </body>
</html>
